<div id="header">
  <div id="logo">
    <a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
  </div>

  <div id="navigation">
<ul>
  <li class="{{#if home}}selected{{/if}}"><a href="/">HOME</a></li>
  <li class="{{#if travel}}selected{{/if}}"><a href="/travel">TRAVEL</a></li>
  <li><a href="/rooms.html">ROOMS</a></li>
  <li><a href="/meals.html">MEALS</a></li>
  <li><a href="/news.html">NEWS</a></li>
  <li><a href="/about.html">ABOUT</a></li>
  <li><a href="/contact.html">CONTACT</a></li>
</ul>
  </div>
</div>
