<div id="header">
  <div id="logo">
    <a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
  </div>

<div id="navigation">
  <ul>
    <li class="{{#if home}}selected{{/if}}"><a href="/">HOME</a></li>
    <li class="{{#if travel}}selected{{/if}}"><a href="/travel">TRAVEL</a></li>
    <li class="{{#if rooms}}selected{{/if}}"><a href="/travel/rooms">ROOMS</a></li>
    <li class="{{#if meals}}selected{{/if}}"><a href="/travel/meals">MEALS</a></li>
    <li class="{{#if news}}selected{{/if}}"><a href="/travel/news">NEWS</a></li>
    <li class="{{#if about}}selected{{/if}}"><a href="/travel/about">ABOUT</a></li>
    <li class="{{#if contact}}selected{{/if}}"><a href="/travel/contact">CONTACT</a></li>
  </ul>
</div>
</div>
