{{> header}}

<div id="background">
  <div id="page">
    <div id="contents">
      <div class="box">
        <div>
          <div class="body">
            <h1>Travlr Getaways</h1>
            <p>Home page via HBS.</p>
            <p><a href="/travel">Go to Travel</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
