{{> header}}

<div id="background">
  <div id="page">
    <div id="contents">
      <div class="box">
        <div class="body">
          <h1>{{title}}</h1>

          <ul id="sites">
            <li>
              <img src="/images/buffet.jpg" alt="Resort buffet">
              <h2>Resort Buffet</h2>
              <p>Fresh daily selections with local ingredients and international favorites.</p>
            </li>

            <li>
              <img src="/images/seafoods.jpg" alt="Seafood">
              <h2>Seafood Night</h2>
              <p>Caught-this-morning specials prepared by our island chefs.</p>
            </li>

            <li>
              <img src="/images/desserts.jpg" alt="Desserts">
              <h2>Desserts</h2>
              <p>Finish strong with house-made pastries, cakes, and tropical fruits.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
